<select name="cars" id="cars">
    {{#each recipes}}
        <option value={{recipes.title}}> {{recipes.title}}  </option>
        
    {{/each}}
</select>

//display all the recipe choice for the drop down menu
