<select name="recipes" id="recipes">
    {{#each recipes}}
        <option value="{{this.title}}"> {{this.title}}</option>
    {{/each}}
</select>



{{!-- display all the recipe choice for the drop down menu --}}
