<div class='container'>

  <div class='modal'>

    <div class='flex-wrapper'>
      <div class='title'>
        <h1>PineaPlanner</h1>
      </div>
      <div class='pitch'>
        <div class="pitch-flex-wrapper">
          
          {{!-- <div class="pitch-container">
            <div>Optimize time</div> 
            <div>Choose recipes easily</div>
          </div>
          
          <div class="pitch-container">
            <div>Minimize wastes and hustle</div>
            <div>Plan meals</div> 
          </div> --}}
          
        </div>
      <h2>Choose recipes easily & Plan meals</h2>
      <p>Eat smart | Reduce wastes | No more panic</p>
    </div>
    <div class='button'>
      {{#if isLoggedIn}}
        <a href='/planner2' class='btn-start'>Get Started</a>
      {{else}}
        <a href='/signup' class='btn-start'>Get Started</a>
      {{/if}}
    </div>

    {{! <div class="slideshow-container">
          <div class="mySlides fade">
            <div class="numbertext">1 / 3</div>
              <img src="https://spoonacular.com/recipeImages/646868-556x370.jpg" style="width:100%">
            
      </div>

      <div class="mySlides fade">
          <div class="numbertext">2 / 3</div>
            <img src="https://spoonacular.com/recipeImages/651407-556x370.jpg" style="width:100%">
          
      </div>

      <div class="mySlides fade">
          <div class="numbertext">3 / 3</div>
            <img src="https://spoonacular.com/recipeImages/637016-556x370.jpg" style="width:100%">
          
      </div>
      </div>
      <div style="text-align:center">
        <span class="dot"></span> 
        <span class="dot"></span> 
        <span class="dot"></span> 
      </div>
    </div> }}

  </div>

</div>