<div>
  <h1>PineaPlanner</h1>
</div>
<div>
  <h2>Optimize time and life, Minimize wastes and hustle</h2>
  <p>Eating smart, reducing food waste, no more panicing on what to eat</p>
</div>
<a href='/' class='btn-start'>Get Started</a>