<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>PineaPlanner</title>
    <link rel='stylesheet' href='stylesheets/style.css' />
  </head>
  <body>

    <nav>
      <a href='/'>Home</a>
      <a href='/planner'>Meal planner</a>
      <a href='/myplans'>My Plans</a>
      <a href='/recipes'>Recipes</a>
      {{#unless isLoggedIn}}

        <a href='/signup'>Signup</a>
        <a href='/login'>Login</a>
      {{else}}
        <a href='/profile'>Profile</a>
        <a href='/logout'>Logout</a>
      {{/unless}}
    </nav>

    {{{body}}}
  </body>
</html>