<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>PineaPlanner</title>
    <link
      rel='stylesheet'
      href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'
    />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    {{#each style}}
      <link rel='stylesheet' href='/stylesheets/{{this}}' />
    {{/each}}
    <script src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js'></script>
    {{#each scripts}}
      <script src='/scripts/{{this}}' type='module'></script>
    {{/each}}
  </head>
  <body>

    <nav class='topnav' id='myTopnav'>
      <a href='/' class='active'>PineaPlanner</a>
      <a href='/recipes'>Recipes</a>
      {{#unless isLoggedIn}}
        
          <a class='right open-modal-login'>Login</button>
          <a class='right open-modal-signup'>Signup</button>
        
        
      {{/unless}}
      {{#if isLoggedIn}}
        <a href='/planner2'>Meal planner</a>
        {{!-- <a href='/myplans'>My Plans</a> --}}

        <a href='/users/profile' class='right'>Profile</a>
        <a href='/logout' class='right'>Logout</a>

      {{/if}}
      <a href='javascript:void(0);' class='icon' onclick='myFunction()'><i
          class='fa fa-bars'
        ></i></a>
    </nav>

    <div id="modal-overlay" class="closed">

    </div>
    {{{body}}}


<div class="modal-signup" role="dialog" aria-labelledby="Modal_Title" aria-describedby="Modal_Description" aria-hidden="true" style="display: none">
  <div class='wrapper modal-content'>
     <button class='right close-modal-signup'>X</button>
    <h1>Sign Up</h1>
      <form method='POST' action='/signup'>
        <div class='input'>
          <label for='username'>Username </label>
          <input id='username-signup' type='text' name='userName' placeholder='Albert' required/>
        </div>
        <div class='input'>
          <label for='email'>Email </label>
          <input id='email-signup' type='email' name='email' placeholder='*****@gmail.com' required />
        </div>
        <div class='input'>
          <label for='password'>Password</label>
          <input id='password-signup' type='password' name='password' placeholder='••••••' required />
        </div>
        
        <button type='submit'>Create Account</button>
      </form>
      
      <p>Already have an account ? <a class='btn-sign close-modal-signup-to-login'>Log In</a></p>
     
  </div>
</div>

<div class="modal-login" role="dialog" aria-labelledby="Modal_Title" aria-describedby="Modal_Description" aria-hidden="true" style="display: none">
  <div class='wrapper modal-content'>
  <button class='right close-modal-login'>X</button>
<h1>Log in</h1>
  <form method='POST' action='/login'>
    <div class='input'>
      <label for='email'>Email </label>
      <input
        id='email'
        type='email'
        name='email'
        
        placeholder='alice@gmail.com'
        required
      />
    </div>
    <div class='input'>
      <label for='password'>Password </label>
      <input
        id='password'
        type='password'
        name='password'
        placeholder='••••••'
        
        required
      />
    </div>
    <button type='submit'>Log In</button>
    
  </form>
  <p>Don't have an account yet ?  <a class='btn-sign close-modal-login-to-signup'>Sign Up </a>
    </p>
    
    
  </div>
  
</div>  

    {{!-- <script src='/scripts/homeStyle.js'></script> --}}
    {{#unless isLoggedIn}}
    <script src="/scripts/authPageScript.js"></script>
    {{/unless}}    
    
    <script src='/scripts/homeStyle.js'></script>
  </body>
</html>