<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>PineaPlanner</title>
    <link rel='stylesheet' href='stylesheets/style.css' />
    {{#each style}}
      <link rel='stylesheet' href='stylesheets/{{this}}' />
    {{/each}}
    <script src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js'></script>
    {{#each scripts}}
      <script src='/scripts/{{this}}' type='module'></script>
    {{/each}}
  </head>
  <body>

    <nav>
      {{! user profile url?????? }}
      <a href='/'>Home</a>
      <a href='/planner'>Meal planner</a>
      <a href='/myplans'>My Plans</a>
      <a href='/recipes'>Recipes</a>
      <div class='btn-right'>
        {{#unless isLoggedIn}}
          <a href='/signup'>Signup</a>
          <a href='/login'>Login</a>
        {{/unless}}
        {{#if isLoggedIn}}
          <a href='/users/profile'>Profile</a>
          <a href='/logout'>Logout</a>
        {{/if}}
      </div>

    </nav>

    {{{body}}}
  </body>
</html>