<div>
  <div class='wrapper'>
<h1>Log in</h1>
  <form method='POST' action='/login'>
    <div class='input'>
      <label for='email'>Email </label>
      <input
        id='email'
        type='email'
        name='email'
        
        placeholder='alice@gmail.com'
        required
      />
    </div>
    <div class='input'>
      <label for='password'>Password </label>
      <input
        id='password'
        type='password'
        name='password'
        placeholder='••••••'
        
        required
      />
    </div>
    <button type='submit'>Log In</button>
  </form>
  <p>Don't have an account yet ?
    <a href='/signup' class='btn-sign'>Sign Up</a></p>
    
  </div>
  
</div>  