<h1>Log in</h1>
<div class='wrapper'>
  <form method='POST' action='/login'>
    <div>
      <label for='email'>Email</label>
      <input
        id='email'
        type='email'
        name='email'
        placeholder='*****@gmail.com'
        required
      />
    </div>
    <div>
      <label for='password'>Password</label>
      <input
        id='password'
        type='password'
        name='password'
        placeholder='••••••'
        required
      />
    </div>
    <button type='submit'>Log In</button>
  </form>
  <p>Don't have an account yet ?
    <a href='/signup' class='btn-sign'>Sign Up</a></p>
</div>