
<div id="planContainer">

<div id="planHeader">
<h3 id="titleLine">Name of the plan: <span id="planTitle" contenteditable="true">My plan name</span></h3>
<div>
    <button id="buttonSave">Save</button>
    <button id="buttonCreate">Create new plan</button>
    <label for="choosePlan">Choose another plan</label>
    <select id="selectPlan" name="choosePlan">
        <option>Choose another plan</option>
        {{#each plans}}
        <option id="{{this._id}}">{{this.title}}</option>
        {{/each}}
    </select>
</div>

</div>

<div id="planGridWrapper">
    {{!-- Days --}}
    <div class="cell day">Meal</div>
    <div class="cell day">Monday</div>
    <div class="cell day">Tuesday</div>
    <div class="cell day">Wednesday</div>
    <div class="cell day">Thursday</div>
    <div class="cell day">Friday</div>
    <div class="cell day">Saturday</div>
    <div class="cell day">Sunday</div>
    {{!-- breakfasts --}}
    <div class="cell day">Breakfast</div>
    <div class="cell breakfast monday" ><button class="addButton">+</button></div>
    <div class="cell breakfast tuesday"><button class="addButton">+</button></div>
    <div class="cell breakfast wednesday"><button class="addButton">+</button></div>
    <div class="cell breakfast thursday"><button class="addButton">+</button></div>
    <div class="cell breakfast friday"><button class="addButton">+</button></div>
    <div class="cell breakfast saturday"><button class="addButton">+</button></div>
    <div class="cell breakfast sunday"><button class="addButton">+</button></div>
    {{!-- lunches --}}
    <div class="cell day">Lunch</div>
    <div class="cell lunch monday" ><button class="addButton">+</button></div>
    <div class="cell lunch tuesday"><button class="addButton">+</button></div>
    <div class="cell lunch wednesday"><button class="addButton">+</button></div>
    <div class="cell lunch thursday"><button class="addButton">+</button></div>
    <div class="cell lunch friday"><button class="addButton">+</button></div>
    <div class="cell lunch saturday"><button class="addButton">+</button></div>
    <div class="cell lunch sunday"><button class="addButton">+</button></div>
        {{!-- dinners --}}
    <div class="cell day">Dinner</div>
    <div class="cell dinner monday" ><button class="addButton">+</button></div>
    <div class="cell dinner tuesday"><button class="addButton">+</button></div>
    <div class="cell dinner wednesday"><button class="addButton">+</button></div>
    <div class="cell dinner thursday"><button class="addButton">+</button></div>
    <div class="cell dinner friday"><button class="addButton">+</button></div>
    <div class="cell dinner saturday"><button class="addButton">+</button></div>
    <div class="cell dinner sunday"><button class="addButton">+</button></div>   
</div>

</div>
