<h1>Meal Planner Calendar</h1>
<table>
    <thead>
        {{#each days}}
        <tr>
            <td class="days">{{this}}</td>
        </tr>
        

        {{/each}}
        {{#each plan}}
        <tr>
            <td>{{this.Monday.breakfast}}</td>
            <td>{{this.lunch}}</td>
            <td>{{this.dinner}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>