
<div id="planContainer">

<h3 id="titleLine">Name of the plan: <span id="planTitle" contenteditable="true">My plan name</span></h3>

<div id="planGridWrapper">
    {{!-- Days --}}
    <div class="testDiv day">Meal</div>
    <div class="testDiv day">Monday</div>
    <div class="testDiv day">Tuesday</div>
    <div class="testDiv day">Wednesday</div>
    <div class="testDiv day">Thursday</div>
    <div class="testDiv day">Friday</div>
    <div class="testDiv day">Saturday</div>
    <div class="testDiv day">Sunday</div>
    {{!-- breakfasts --}}
    <div class="testDiv day">Breakfast</div>
    <div class="testDiv breakfast monday" ><button class="addButton">+</button></div>
    <div class="testDiv breakfast tuesday"><button class="addButton">+</button></div>
    <div class="testDiv breakfast wednesday"><button class="addButton">+</button></div>
    <div class="testDiv breakfast thursday"><button class="addButton">+</button></div>
    <div class="testDiv breakfast friday"><button class="addButton">+</button></div>
    <div class="testDiv breakfast saturday"><button class="addButton">+</button></div>
    <div class="testDiv breakfast sunday"><button class="addButton">+</button></div>
    {{!-- lunches --}}
    <div class="testDiv day">Lunch</div>
    <div class="testDiv lunch monday" ><button class="addButton">+</button></div>
    <div class="testDiv lunch tuesday"><button class="addButton">+</button></div>
    <div class="testDiv lunch wednesday"><button class="addButton">+</button></div>
    <div class="testDiv lunch thursday"><button class="addButton">+</button></div>
    <div class="testDiv lunch friday"><button class="addButton">+</button></div>
    <div class="testDiv lunch saturday"><button class="addButton">+</button></div>
    <div class="testDiv lunch sunday"><button class="addButton">+</button></div>
        {{!-- dinners --}}
    <div class="testDiv day">Dinner</div>
    <div class="testDiv dinner monday" ><button class="addButton">+</button></div>
    <div class="testDiv dinner tuesday"><button class="addButton">+</button></div>
    <div class="testDiv dinner wednesday"><button class="addButton">+</button></div>
    <div class="testDiv dinner thursday"><button class="addButton">+</button></div>
    <div class="testDiv dinner friday"><button class="addButton">+</button></div>
    <div class="testDiv dinner saturday"><button class="addButton">+</button></div>
    <div class="testDiv dinner sunday"><button class="addButton">+</button></div>

</div>

</div>
