<h1>Meal Planner Calendar</h1>
<table>
    <thead>
        {{#each plan}}
            {{#if this.day}}
                
            {{/if}}
        <tr>
            <td class="days">Day</td>
        </tr>
        <tr>
            <td>{{this.day.breakfast}}</td>
            <td>Meal2</td>
            <td>Meal3</td>
        </tr>

        {{/each}}
    </tbody>
</table>