<div class='wrapper'>
  <h1>User Profile</h1>
  <ul>
    <li>User name: {{user.userName}}</li>
    <li>Email: {{user.email}}</li>
    {{!-- <li>{{user.password}}</li> --}}
  </ul>
  <a href='/users/profile/edit' class='btn-edit'>Edit</a>
</div>