<div class='wrapper'>
  <h1>User Profile</h1>
  <form action='/users/profile/edit' method='POST'>
    <ul>
      <li>
        <input
          type='text'
          id='name'
          name='userName'
          value='{{user.userName}}'
        /></li>
      <li>
        <input
          type='email'
          id='email'
          name='email'
          value='{{user.email}}'
        /></li>
      {{!-- <li>{{user.password}}</li> --}}
    </ul>
    <button class='btn-edit'>Confirm</button>
  </form>
</div>