<div id="recipes-body-wrapper">



<div id="recipes-tags-wrapper">

<h2> Recipes</h2>

<form id="searchBar" >
    <input id="searchText" type="text">
    <button id="searchButton" type="button">Search</button>
</form>


<form id="filterTags" method="GET">
    <h2>Filter by Diet Type</h2>
    <ul id="dishDietList">
        <li class="tag-list-item">
        <input name="typeVegan" value="vegan" id="input_dishVegan" type="checkbox"  />
        <label for="typeVegan">Vegan</label>
        </li>

        <li class="tag-list-item"></li>
        <input name="typeVegetarian" value="vegetarian" id="input_dishVegetarian" type="checkbox"/>
        <label for="typeVegetarian">Vegetarian</label>
        </li>

        <li class="tag-list-item"></li>
        <input name="dishDairyFree" value="dairyFree" id="input_dishDairyFree" type="checkbox"  />
        <label for="dishDairyFree">Dairy-Free</label>
        </li>

        <li class="tag-list-item"></li>
        <input name="dishGlutenFree" value="glutenFree" id="input_dishGlutenFree" type="checkbox"  />
        <label for="dishGlutenFree">Gluten-Free</label>
        </li>
    </ul>


    <h2>Filter by Dish Type</h2>

    <ul id="dishTypeList">
        {{#each dishTypes}}
            {{>dishTypeList this}}
        {{/each }}

    </ul>

</form>

</div>

<div id="recipes-recipe-right">

<div id="recipes-pageselector">
    <button id="prevPageButton">←</button>
    <span id="currentPage">1</span>
    <span> / </span>
    <span id="allPage">{{allPages}}</span>
    <button id="nextPageButton">→</button>
</div>

<div id="recipes-recipe-wrapper">
    {{#each recipes}}
        {{>recipeCard this}}
    {{/each }}
</div>

</div>






</div>
