<div id="recipes-body-wrapper">





<div id="recipes-recipe-right">

<h1>Recipes</h1>

<div class="recipes-nav"> 
    <div class="filters-div">





    <div class="dropdown">
        <form id="filterTags" method="GET">
            <h2 class="drop-on-hover">Filter by Diet Type</h2>
            <div class="dropdown-content">
                <ul id="dishDietList">
                    <li class="tag-list-item">
                        <input name="typeVegan" value="vegan" id="input_dishVegan" type="checkbox"  />
                        <label for="typeVegan">Vegan</label>
                    </li>

                    <li class="tag-list-item"></li>
                        <input name="typeVegetarian" value="vegetarian" id="input_dishVegetarian" type="checkbox"/>
                        <label for="typeVegetarian">Vegetarian</label>
                    </li>

                    <li class="tag-list-item"></li>
                        <input name="dishDairyFree" value="dairyFree" id="input_dishDairyFree" type="checkbox"  />
                        <label for="dishDairyFree">Dairy-Free</label>
                    </li>

                    <li class="tag-list-item "></li>
                        <input name="dishGlutenFree" value="glutenFree" id="input_dishGlutenFree" type="checkbox"  />
                        <label for="dishGlutenFree">Gluten-Free</label>
                    </li>
                </ul>
            </div>
        </div>
    


        <div class="dropdown">
            <h2 class="drop-on-hover">Filter by Dish Type</h2>
            <div class="dropdown-content">
                <ul id="dishTypeList">
                    {{#each dishTypes}}
                        {{>dishTypeList this}}
                    {{/each }}
                </ul>
            </div>
        </div>
        </form>

    </div>
    
    <div class="search-div">
        <form id="searchBar" >
        <input id="searchText" type="text">
        <button id="searchButton" type="button">Search</button>
        </form>
    </div>
    
</div>


<div id="recipes-recipe-wrapper">
    
    {{#each recipes}}
        {{>recipeCard this}}
    {{/each }}
</div>
    
<div id="recipes-pageselector">
    <button id="prevPageButton"> ← </button>
    <span id="currentPage">1</span>
    <span> / </span>
    <span id="allPage">{{allPages}}</span>
    <button id="nextPageButton"> → </button>
</div>
</div>


{{!-- Zsolt modal --}}
<div id="modal-overlay" class="closed">
</div>

<div id="modal"class="closed" >
    <div id="modalWrapper">

        <div id="modalLeftSide">
            <img id="modalImage" src="https://spoonacular.com/recipeImages/646868-556x370.jpg" alt="image">
            <div id="modalTagsWrapper">

            </div>

            <ul id="ingredientList">
            </ul>
        </div>

        <div id="modalRightSide">
            <div class="modal-front-btns-flex">
                <button id="btn-add-modal">+</button>
                <button id="close-modal">x</button>
            </div>
            
            <h2 id="recipeTitle"></h2>
            <h3>Summary</h3>
            <p id="modalSummarry"></p>
            
            <p><em>Ready in : </em><strong><span id="readyInMin"></span> min</strong>, <em>Number of Servings : </em><strong><span id="servings">4</span> </strong></p>
            <h3>Instructions</h3>
            
            <p id="instructionsList"></p>

        </div>
    </div>
</div>


{{!-- chenji modal --}}
<div id="modal-overlay-addToPlanner" class="closed"></div>
    <div  id="modal-addToPlanner" class="closed">
        <div id="modalAddToPlannerWrapper">
            
            <button id="close-addToPlanner-modal">x</button>
            
            <form method='POST' action='/planner2/add-to-plan' class="flex-wrapper">

                {{!-- <label for="recipe">Planned meals:</label> --}}
                <input type="hidden" name="recipeId" id="modal-recipe-id">

                <label for="plan">Choose one of your created plan: 
                <select name="planId" id="plan">
                    {{#each plans}}
                    <option value="{{id}}">{{title}}</option>
                    {{/each}}
                </select> </label>

                <label for="dayOfWeek">Choose a day:
                <select name="dayOfWeek" id="dayOfWeek">
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                    <option value="Saturday">Saturday</option>
                    <option value="Sunday">Sunday</option>
                </select></label>

                <label for="mealName">Choose a meal: 
                <select name="mealName" id="mealName">
                    <option value="Breakfast">Breakfast</option>
                    <option value="Lunch">Lunch</option>
                    <option value="Dinner">Dinner</option>
                </select></label>
                
                <button class="btn-add" id="btn-add">Add to planner</button>
                
            </form>
        </div>
    </div>

</div>
