<div id="recipes-body-wrapper">



<div id="recipes-tags-wrapper">

<h2> Recipes</h2>

</div>




<div id="recipes-recipe-wrapper">
    {{#each recipes}}
        {{>recipeCard this}}
    {{/each }}
</div>



</div>
