* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6%;
  height: 100vh;
}

h1 {
  color: var(--dark-blue);
}

@media only screen and (min-width: 600px) {
  h1 {
    font-size: 5rem;
    font-weight: bold;
  }
  .pitch h2 {
    font-size: 2em;
  }
  .pitch p {
    font-size: 1em;
  }
}

.pitch {
  text-align: center;
  padding: 3% 0 3% 0;
}

.pitch h2 {
  color: var(--salmon);
}

.pitch p {
  padding-top: 3%;
}

.btn-start {
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 1em 1.8em 1em 1.8em;
  background-color: var(--pink);
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border-radius: 10px;
}

.btn-start:hover {
  color: white;
  background-color: var(--salmon);
}
