/* .btn-start {
  padding: 1em 1.5em 1em 1.5em;
  background-color: var(--salmon);
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 10px;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
}

.pitch {
  text-align: center;
}
