:root {
  --dark-blue: #156064;
  --mint-green: #00c49a;
  --pale-yellow: #f8e16c;
  --pink: #ffc2b4;
  --salmon: #fb8f67;
}

h1 {
  margin-left: 1em;
}

.wrapper {
  margin-left: 2em;
}

form,
button,
p {
  font-size: 16px;
}

p .btn-sign {
  font-size: 16px;
  text-decoration: underline;
  color: var(--mint-green);
}

div {
  padding: 0.25em 0 0.25em 0;
}

button {
  margin: 0.4em 0 0.25em 0;
  border-radius: 4px;
  border-style: none;
  background-color: var(--pink);
  padding: 0.25em 1em 0.25em 1em;
}

button:hover {
  background-color: var(--salmon);
  border-style: none;
  border-radius: 4px;
}
