:root {
  --dark-blue: #156064;
  --mint-green: #00c49a;
  --pale-yellow: #f8e16c;
  --pink: #ffc2b4;
  --salmon: #fb8f67;
}

body {
  padding: 0;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
}

nav {
  background-color: var(--mint-green);
  height: 1.3em;
  width: 100vw;
  display: flex;
  align-items: center;
  padding: 1em;
  box-shadow: 0px 2px 5px var(--mint-green) ;

}

a {
  color: black;
  font-size: 1.2em;
  text-decoration: none;
  padding-right: 1em;
  padding-left: 1em;
}

a:hover {
  color: white;
}

.btn-right {
  position: absolute;
  top: 1em;
  right: 2em;
}
